@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fff;
    min-height: 100vh;
}
#header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    z-index: 1000;
}
.logo img{
    width: 150px;
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
}
#toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 65px;
    background: #571A9D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#toggle.active {
    background-color: #ED036E;
}

#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}
#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}
#navbar.active{
    width: 640px;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color: #12334e;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding: 0 10px;
}
#navbar ul li a:hover {
    color: black;
}

/* responsive style  */

@media (max-width: 710px) {

    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    #navbar.active{

        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}