.single-order-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 30px 0;
    border-radius: 5px;
    color: #fff;
    background-image: linear-gradient(to right, #7213c9, #7a10c0, #800fb8, #840fb0, #8811a8);
}
.orderDelete p{
    padding: 5px 13px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* responsive style  */
@media only screen and (max-width: 610px) {
    .single-order-style {
        flex-direction: column;
    }

}