.signUp_Page{
    margin: 150px 6% ;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.signUp_img img{
    width: 100%;
}

.signUp_form {
    width: 300px;
    
}
.signUp_form form{
    background-color: rgb(253, 70, 116);
    padding: 50px 20px;
    border-radius: 5px;
}
.signUp_form form input{
    border: none;
    outline: none;
    padding: 8px;
    width: 250px;
    margin-left: 5px;
    border-radius: 5px;
}
.signUp-button{
    border: none;
    outline: none;
    padding: 5px;
    width: 250px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(125, 72, 250);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

/* responsive style  */

@media only screen and (max-width: 600px) {
    .signUp_Page{
        flex-direction: column;
        
    }
    .signUp_form{
        order: 2;
    }
    .signUp_img{
        order: 1;
        margin-bottom: 40px;
    }
}