.make-admin-from{
    margin: 50px 6%;

}
.make-admin-from-header {
    text-align: center;
}
.form-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.admin-form-style{
    background-color: skyblue;
    padding: 20px;
    border-radius: 5px;
}
.admin-form-style > form >  input{
    border: none;
    outline: none;
    width: 300px;
    padding: 8px;
    border: 1px solid rgb(24, 27, 248);
    border-radius: 5px;
}

.make-admin-btn {
    background-color: rgb(30, 50, 235);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}