.place-order-section {
    margin: 150px 6%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    place-items: center;
}
.place-order-item {

}
.order-img img {
    width: 80%;
}
.product-text {
    padding: 30px ;
}
.product-text h3 {
    color: rgb(240, 11, 68);
    
}
.product-text p {
    text-align: justify;
}

.place-order-form {
    background-color: rgb(248, 125, 162);
    padding: 30px;
    width: 310px;
    border-radius: 5px;
    
}

.place-order-form > form > input{
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    
}
.place-order-btn {
    font-size: 16px;
    background-color: rgb(123, 56, 248);
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .place-order-section{
        grid-template-columns: 1fr;
        
        
    }
}